h2{
  color: #c0bbb6;
  text-align: center;
}
p{
  margin: 100px;
  margin-right: 90%;
}
.home{
  position: fixed;
  margin: 200px 0 0 6%;
  font-family: "Amatic SC", cursive;
  font-size: 180px;
  font-weight: initial;
}
.back{
  margin-left: 20px;
  color: rgba(39, 41, 42, 0.2);
  position: absolute;
  font-family: "Amatic SC", cursive;
  font-size: 350px;
  font-weight: initial;
}
.front{

}
